---
import LeftNav from "../components/LeftNav.astro";
import RightNav from "../components/RightNav.astro";
import PlaylistOpret from "../components/PlaylistOpret.astro";
import Playlists from "../components/Playlists.astro";
import "../styles/global.css";
import LeftSideContainer from "../components/LeftSideContainer.astro";
import Footer from "../components/Footer.astro";
import RightSideContainer from "../components/RightSideContainer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <LeftNav />
      <LeftSideContainer />
      
      <RightSideContainer />
     
      
    </main>
    <Footer />
   
  </body>
</html>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
</style>
