---
const { header, text, imgSrc } = Astro.props;
---

<article>
  <img src={imgSrc} />
  <h3>{header}</h3>
  <p>{text}</p>
</article>

<style>
  article {
    background-color: rgb(31, 31, 34);
    margin: 0 1rem 0.5rem 0;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    max-height: auto;
  }

  img {
    max-width: 100%;
    margin-bottom: -40px;
    border-radius: 6px;
  }
  h3 {
    margin: 2.4rem 0 0 0;
    padding: 0;
  }
</style>
