---
const { text } = Astro.props;
---

<button class="button">{text}</button>

<style>
  .button {
    background-color: transparent;
    color: rgb(184, 184, 184);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Spotify-3";
    border-radius: 30px;
    padding: 1rem;
    font-size: 1rem;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }
</style>
