---

---

<footer>
    <div>
  <h4>EKSEMPEL PÅ SPOTIFY</h4>
  <p>
    Tilmeld dig for at få ubegrænsede sange og podcasts med lejlighedsvise
    reklamer. Du skal ikke bruge kreditkort.
  </p></div>
  <button>Tilmeld dig gratis</button>
</footer>

<style>
    footer {
        background-color: hotpink;
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
div {
    
}
    button {
        margin: 3rem;
    }
</style>