---

import icon1 from "../icons/logo.svg";
import icon2 from "../icons/GlobeIcon.svg";

import icon3 from "../icons/search-filled.svg";

import icon4 from "../icons/home-filled.svg";

import icon5 from "../icons/GlobeIcon.astro";


---

<div class="icon">
    <img src="" alt="">
</div>