---
import LogoSpot from "../assets/icons/logo.svg";
import Button3 from "../components/Button3.astro";
import Icon from "../components/Icon.astro";

---

<nav class="top_left_nav">
  <ul>
    <li><Icon icon="logo"  /></li>
    <li class="home_but"><a href="/"><Icon icon="home-filled" /><Button3 text="Hjem" /> </a></li>
   <li> <a href="/search">
       <Icon icon="search-filled" /><Button3 text="Søg" /></a>
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: rgb(32, 32, 34);
    margin: 0.1rem;
    border-radius: 10px;
    
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  img {
    max-width: 25%;
    filter: invert(1);
  }

  li {

  }

  .home_but {
    color: rgb(0, 0, 0);¨
 
  }
</style>
