---
import LogoSpot from "../assets/icons/logo.svg";
import Button3 from "../components/Button3.astro";
---

<nav class="top_left_nav">
  <ul>
    <li><img src="../../src/static/logo.svg" alt="logo" /></li>
    <li class="home_but"><img src="../../src/static/home-filled.svg" alt=""><Button3 text="Hjem" /></li>
    <li>
       <img src="../../src/static/search-icon.svg" alt=""><Button3 text="Søg" />
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: rgb(32, 32, 34);
    margin: 0.1rem;
    border-radius: 10px;
    
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  img {
    max-width: 25%;
    filter: invert(1);
  }

  li {

  }

  .home_but {
    color: rgb(0, 0, 0);¨
 
  }
</style>
