---
import LogoSpot from "../assets/icons/logo.svg";
---

<nav class="top_left_nav">
  <ul>
    <li><img src="../../src/static/logo.svg" alt="logo" /></li>
    <li><img src="../../src/static/home-filled.svg" alt=""> Hjem</li>
    <li>
      <img src="../../src/static/search-icon.svg" alt=""> Søg
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: rgb(32, 34, 34);
    margin: 0.5rem;
    border-radius: 10px;
    
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  img {
    max-width: 20%;
    
  }

  li {

  }
</style>
