---
import PlaylistOpret from "./PlaylistOpret.astro";
import Button3 from "../components/Button3.astro";
import Button2 from "../components/Button2.astro";
import Button4 from "../components/Button4.astro";
---

<section class="left_side_container">
  <div class="library_button">
    <img src="../../src/static/library-icon-filled.svg" alt="" /><Button3
      text="Dit bibliotek"
    />
    <Button2 text="+" />
    <PlaylistOpret />
  </div>
  <div class="bottom_stuff">
    <a href=""><Button4 text="Cookies" /></a>
    <div class="globe_but">
      <img src="../../src/static/globe-icon.svg" />
      <Button3 text="Dansk" />
    </div>
  </div>
</section>

<style>
  section {
    background-color: rgb(19, 18, 18);
    margin: 0.4rem 0.1rem;
    grid-row: 2/4;
    grid-column: 1/2;
    border-radius: 10px;
  }

  .left_side_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom_stuff {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 1rem;
  }

  .library_button {
    margin-left: 1.5rem;
  }

  .globe_but {
    border: solid rgb(225, 225, 228) 1px;
    padding: 0rem;
    border-radius: 12px;
  }
  .globe_but img {
    margin-left: 0.4rem;
  }

  img {
    filter: invert(1);
  }
</style>
