---
import Button from "../components/Button1.astro";
---

<article>
  <h3>Opret din første playliste</h3>
  <p>Det er nemt - vi skal nok hjælpe dig</p>
  <Button text="Opret playliste" />
</article>


<style>
article {
  background-color: rgb(38, 40, 41);
  margin: 1rem;
  padding: 0.5rem 1.5rem 1rem 1rem;
  border-radius: 12px;
}
</style>