---
import RightNav from "../components/RightNav.astro";

import Playlists from "../components/Playlists.astro";

---




<div>
<RightNav />

<Playlists />
<Playlists />
</div>

<style>
    div {
        background: rgb(18,19,20);
background: linear-gradient(0deg, rgba(18,19,20,1) 0%, rgba(72,72,80,1) 100%);
        grid-column: 2/3;
        grid-row: 1/4;
        margin: 0.5rem;
        border-radius: 10px;
    }
</style>
