---
import Button from "./Button1.astro";
import Button2 from "./Button2.astro";
import Button3 from "./Button3.astro";

const { hasSearch } = Astro.props;
---

<nav class="top_right_nav">
  <ul>
    <div>
      <li><Button2 text="<" /></li>
      <li><Button2 text=">" /></li>
    </div>

    <div></div>
    <div>
      <li><Button3 text="Tilmeld dig" /></li>
      <li><Button text="Log På" /></li>
    </div>
  </ul>
</nav>

<style>
  nav {
    background-color: black;
    padding: 0.2rem;
    border-radius: 10px 10px 0 0;
    position: sticky;
    top: 0;
    left: 0;
    opacity: 70%;
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .right_button {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .left_button {
    font-size: 2rem;
    padding: 0 1rem;
  }
</style>
