---
import RightNav from "../components/RightNav.astro";

import Playlists from "../components/Playlists.astro";

---




<div>
<RightNav />

<Playlists />
<Playlists />
</div>

<style>
    div {
        background-color: rgb(72, 80, 80);
        grid-column: 2/3;
        grid-row: 1/4;
        margin: 0.5rem;
        border-radius: 10px;
    }
</style>
