---

---

<nav class="top_right_nav">
  <ul>
    <div>
      <li><button class="left_button"><</button></li>
      <li><button class="right_button">></button></li>
    </div>
    <div>
      <li><button>Tilmeld dig</button></li>
      <li><button>Log på</button></li>
    </div>
  </ul>
</nav>

<style>
  nav {
    background-color: black;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    position: sticky;
	top: 0;
	left: 0;
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .right_button {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .left_button {
    font-size: 2rem;
    padding: 0 1rem;
  }
</style>
